:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fcfcfc;
}
.nav-link {
  color: inherit;
  text-decoration: none;
}

.nav-link.active .nav-icon {
  color: #0fa3b1; /* couleur lorsque le lien est actif */
}

.nav-link-avatar.active .nav-avatar {
  border: 4px solid #0fa3b1; /* bordure par défaut */
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.toggle_is_active {
  color: #0fa3b1;
  border-bottom: 2px solid #0fa3b1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-toggle-link:hover {
  cursor: pointer;
}
.slider-custom .MuiSlider-thumb {
  background-color: #0fa3b1; /* Utilisez votre couleur personnalisée ici */
}

.slider-custom .MuiSlider-rail {
  background-color: #e2e8f0; /* Couleur de fond du rail du Slider */
}

.slider-custom .MuiSlider-track {
  background-color: #0fa3b1; /* Couleur de la piste du Slider */
}

.input-custom {
  width: 100%;
  height: 50px;
  padding: 16px;
  padding-left: 40px;
  font-size: 14px;
  color: #1a202c; /* Text color */
  border: 1px solid #ccc; /* Border color */
  border-radius: 8px; /* Border radius */
  background-color: #f7fafc; /* Background color */
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-custom:focus {
  border: 2px solid #0fa3b1;
}

.input-custom-orange:focus {
  border: 2px solid #f7a072;
}
